src/*.exe
src/autocoin
src/autocoind
src/test_autocoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.autocoin

# Compilation and Qt preprocessor part
*.qm
Makefile
autocoin-qt
Autocoin-Qt.app

# Unit-tests
Makefile.test
autocoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
